@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 20px;
}

.slick-dots li button::before {
  color: white !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

#sub--container:hover > #sub--button {
  display: inherit;
}

#sub--button:hover + #sub--pic {
  filter:brightness(50%);
}